.specific {
  max-width: 800px;
  margin: auto;
  overflow: hidden;

  & .part-1 {
    max-width: 625px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    & .carousel {
      height: 400px;
      max-width: 600px;
      margin: auto;

      & .carousel-control-next {
        position: absolute;
        right: -65px;
        top: -40px;
      }

      .carousel-control-prev {
        position: absolute;
        left: -65px;
        top: -40px;
      }

      & .carousel-indicators {
        bottom: -25px;
      }

      & .carousel-item {
        text-align: center;
        height: 360px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        width: 100%;

        & img {
          vertical-align: middle;
          width: 100%;
          height: auto;
        }
      }
    }

    & .price {
      width: fit-content;
      padding: 8px 15px;
      border-radius: 8px;
      background-color: var(--primary_color);
      font-size: var(--textLarge_fontSize);
      position: absolute;
      z-index: 2;
    }
  }

  & .part-2 {
    & h1 {
      margin-left: 20px;
    }

    & .rating {
      display: flex;
      font-size: var(--textMedium_fontSize);
      flex-direction: row;
      align-items: flex-end;

      & div {
        font-weight: bold;
        font-size: var(--textMedium_fontSize);

        &.this-rating {
          font-size: var(--textLarge_fontSize);
        }
      }
    }

    & .user-feature {
      display: flex;
      gap: 5px;
    }
  }

  & .profile {
    & .name {
      font-size: var(--textLarge_fontSize);
    }

    & .type,
    .mail {
      font-size: var(--textSmall_fontSize);
    }
  }

  & .venue-location-amenities {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
    margin-top: 30px;
    padding: 0 10px;
    align-items: baseline;

    & .venue-location,
    .amenity-list {
      width: 147.5px;
      height: 170px;
    }

    & .venue-location {
      & .location-country-address {
        background-image: url("../../assets/images/destination-pattern.PNG");
        background-size: cover;
        background-position: center;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 5px 12px;
        width: 100%;
        object-fit: cover;

        & div {
          font-size: var(--textLarge_fontSize);
          padding-bottom: 5px;
        }
      }
    }

    & .amenities {
      width: 147.5px;

      & .amenity-list {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 15px 8px;
        background-color: var(--primary_color);
        font-size: var(--textMedium_fontSize);
        width: 36px;
        border-radius: 50px;
        margin: 0;
        height: 170px;

        & li {
          display: flex;
          gap: 1.1rem;
          width: 165px;

          & svg {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  & .venue-manager-profile {
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    padding: 30px;
    box-shadow: #1d1d1d11 1px 1px 25px 2px;
  }

  & .part-4 {
    margin-bottom: 50px;

    & form .gsahwO.span-btn {
      width: 12rem;
    }

    & .input-field {
      margin-top: 20px;
      width: 180px !important;
    }

    & .button-text {
      color: black !important;
    }
  }
}

/*mobile styles*/
@media only screen and (max-width: 700px) {
  .specific {
    & .part-1 {
      max-width: 325px;
      height: 235px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 30px;

      & .price {
        width: fit-content;
        padding: 8px 15px;
        border-radius: 8px;
        background-color: var(--primary_color);
        font-size: var(--textMedium_fontSize);
        position: absolute;
        /*
                top: -55px;*/
        z-index: 2;
      }

      .carousel {
        height: 260px;
        width: 300px;
        margin: auto;

        & .carousel-control-next {
          right: -40px;
        }

        .carousel-control-prev {
          left: -40px;
        }

        & .carousel-indicators {
          bottom: -35px;

          & button {
            width: 20px;
          }
        }

        & .carousel-item {
          height: 220px;
        }
      }
    }

    & .rating {
      font-size: var(--textSmall_fontSize);
    }
  }
}

.list-top {
  background-color: var(--body_backgroundColor);
  font-size: var(--textMedium_fontSize);
  color: white;
}

.modal-content {
  & li {
    font-size: var(--textSmall_fontSize);
  }

  & .modal-footer {
    flex-direction: column;
    align-items: end;

    & .modal-btn {
      align-self: center;
      margin: auto;
      position: relative;
      bottom: 65px;
      height: 10px;
    }
  }
}
