label.rounded-start-pill {
  display: flex;
  align-items: center;
  margin: 0px !important;
  width: 100px;
  background-color: var(--body_backgroundColor);
  font-size: var(--textSmall_fontSize);
  padding-left: 20px;
}

.form-control {
  border: 1px solid var(--secondary_color);
  padding-left: 15px;
  transition: border-left 0.2s;

  &:focus {
    border-left-width: 10px;
    border-color: var(--secondary_color);
  }
}
