@import url("https://fonts.googleapis.com/css?family=Mukta:400");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora&family=Oswald&family=PT+Sans&display=swap");

body,
button {
    font-family: "Mukta", "roboto", "sans-serif" !important;
}

h1 {
    font-family: "Inter", "PT sans", "sans-serif";
}

// navbar
.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    top: 60px !important;
    width: 250px !important;
    border: none !important;
    background-color: #2b3035 !important;
    padding-top: 0 !important;
}