main.list {
  max-width: 1188px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 10px;

  & section {
    margin: 0;
    //width: 350px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);

    & .card {
      margin-top: 30px;
      margin-bottom: 25px;

      & .price {
        width: min-content;
        border: 5px solid var(--primary_color);
        bottom: 53px;
        border-radius: 100px;
        font-weight: bold;
      }
    }

    & .booking-title,
    .venues-title {
      background-color: var(--primary_color);
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border-right: 100px solid var(--body_backgroundColor);
      font-weight: bold;

      & div {
        text-align: end;
        font-size: 1.3rem;
      }
    }

    & .list-group button {
      color: black;
      background-color: var(--body_color);
      border: none;
    }

    & .container {
      & button {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid var(--body_color);
      }

      & .divider {
        width: 350px;
        font-size: var(--textSmall_fontSize);
      }

      & .collapse {
        margin-top: 10px;
        width: 350px;
      }
    }
  }

  & section.venues-list {
    width: 1188px;
  }
}

/*mobile styles*/
@media only screen and (max-width: 700px) {
  main.list {
  }
}
