main.list {
  max-width: 1188px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 10px;

  & .empty-list {
    height: 300px;
    display: flex;
    align-items: center;
  }

  & .card-container {
    align-items: flex-start;
    min-height: 300px;
  }

  & .booking-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 10px;

    & section {
      height: fit-content;
    }

    & .card {
      margin-top: 30px;
      margin-bottom: 25px;

      & .price {
        width: min-content;
        border: 5px solid var(--primary_color);
        bottom: 53px;
        border-radius: 100px;
        font-weight: bold;
        right: -10px;
        padding: 8px 20px;
      }
    }

    & section {
      margin: 0;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);
    }

    & .list-group button {
      color: black;
      background-color: var(--body_color);
      border: none;
    }

    & .container {
      min-height: 300px;
      margin-bottom: 50px;

      & button {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid var(--body_color);
      }

      & .divider {
        width: 350px;
        font-size: var(--textSmall_fontSize);
      }

      & .collapse {
        margin-top: 10px;
        width: 100%;
      }

      & .previous-bookings {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  & .booking-title,
  .venues-title {
    background-color: var(--primary_color);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 100px solid var(--body_backgroundColor);
    font-weight: bold;

    & div {
      text-align: end;
      font-size: 1.3rem;
    }
  }

  & section.venues-list {
    width: 1188px;
  }
}

/*mobile styles*/
@media only screen and (max-width: 700px) {
  main.list .booking-list section {
    box-shadow: none;

    & .container {
      padding: 0;
    }
  }

}