@import url("https://fonts.googleapis.com/css?family=Mukta:400");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora&family=Oswald&family=PT+Sans&display=swap");

:root {
  --body_color: #ffed79;
  --primary_color: #ffed79;
  --secondary_color: #2fd2f3;
  --third_color: #ed6c02;
  --body_backgroundColor: #2b3035;
  --textSmall_fontSize: 0.9rem;
  --textMedium_fontSize: 1rem;
  --textLarge_fontSize: 1.5rem;
}

[data-theme="customer"] {
  --body_color: #2fd2f3;
}

[data-theme="manager"] {
  --body_color: #ed6c02;
}

body,
button {
  font-family: "Mukta", "roboto", "sans-serif" !important;
}

h1 {
  font-family: "Inter", "PT sans", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

/* Container of the scrollable content */
.scrollable-container {
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin; // For Firefox
  scrollbar-color: #888 #f0f0f0; // For Firefox: thumb and track color

  // For Webkit (Chrome, Edge, Safari)
  &::-webkit-scrollbar {
    width: 12px; // width of the entire scrollbar
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; // color of the tracking area
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; // color of the scroll thumb
    border-radius: 10px;
    border: 3px solid #f0f0f0; // creates padding around scroll thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; // color of the scroll thumb when hovering
  }
}