@import url("https://fonts.googleapis.com/css?family=Mukta:400");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora&family=Oswald&family=PT+Sans&display=swap");

:root {
  --body_color: #ffed79;
  --primary_color: #ffed79;
  --secondary_color: #2fd2f3;
  --third_color: #ed6c02;
  --body_backgroundColor: #2b3035;
  --textSmall_fontSize: 0.9rem;
  --textMedium_fontSize: 1rem;
  --textLarge_fontSize: 1.5rem;
}

[data-theme="customer"] {
  --body_color: #2fd2f3;
}

[data-theme="manager"] {
  --body_color: #ed6c02;
}

body,
button {
  font-family: "Mukta", "muli", "roboto", "sans-serif" !important;
}

h1 {
  font-family: "Inter", "PT sans", "sans-serif", "verdana";
}

html {
  scroll-behavior: smooth;
}

.scrollable-container {
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
    margin: 8px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//To hide the number input arrows in an HTML <input type="number">
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}