.part-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & .top-calendar {
    max-width: 600px;
  }

  & .react-calendar {
    width: 400px;
    height: 310px;
    max-width: 400px;
    width: 90%;
    background-color: #fff;
    color: black;
    border: none !important;
    border-radius: 8px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.096);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: 0 auto 30px auto;

    & .react-calendar__navigation {
      margin-bottom: 0 !important;
      border-bottom: 4px solid var(--primary_color) !important;

      & button {
        color: white;
        min-width: 44px;
        background: var(--body_backgroundColor) !important;
        font-size: 16px;
        font-weight: 800;
        margin-top: 8px;
      }
    }

    & abbr[title] {
      text-decoration: none;
    }

    & .react-calendar__tile--now:enabled:hover,
    & .react-calendar__tile--now:enabled:focus {
      background: #212529;
      border-radius: 0;
      font-weight: bold;
      color: black;
    }

    & .react-calendar__tile:enabled:hover,
    & .react-calendar__tile:enabled:focus {
      background: #f8f8fa;
      color: black;
      border-radius: 0;
      font-weight: 800 !important;
    }
  }
}

.user-calendar {
  .react-calendar__tile--active {
    background: var(--body_backgroundColor) !important;
    border-radius: 0;
    color: white !important;
  }

  & .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa !important;
  }

  & .react-calendar__tile--range {
    background: var(--body_backgroundColor) !important;
    color: white;
  }

  & .react-calendar__tile--now {
    background: var(--primary_color) !important;
    border-radius: 0;
    font-weight: 800 !important;
    color: black !important;
  }
}

.booking-form form {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;

  & .react-calendar__tile--hasActive:enabled:hover,
  & .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }

  .react-calendar__tile--active {
    background: var(--body_backgroundColor) !important;
    border-radius: 0;
    font-weight: bold;
    color: white !important;
  }

  & .react-calendar__tile--active:enabled:hover,
  & .react-calendar__tile--active:enabled:focus {
    background: var(--body_backgroundColor) !important;
    color: white !important;
  }

  & .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: var(--body_backgroundColor) !important;
    color: white;
  }

  & .react-calendar__tile--range {
    background: var(--secondary_color) !important;
    color: black !important;
    border-radius: 0;
  }

  & .react-calendar__tile--now {
    background: var(--primary_color) !important;
    border-radius: 0;
    font-weight: 800 !important;
    color: black !important;
  }

  & .react-calendar__tile--rangeStart {
    border-radius: 0;
    background: var(--body_backgroundColor) !important;
    color: white !important;
  }

  & .react-calendar__tile--rangeEnd {
    border-radius: 0;
    background: var(--body_backgroundColor) !important;
    color: white !important;
  }

  & .form {
    //margin-top: 0;
    height: 100%;
    max-width: 308px;
    width: 275px;

    & .list-group {
      margin-top: 8px;
    }

    & .input-group {
      margin: 20px 0;
      max-width: 200px !important;
    }

    & button.span-btn {
      width: 12rem !important;
    }
  }
}

.venue-manager {
  & .react-calendar__tile--hasActive:enabled:hover,
  & .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }

  & .react-calendar__tile--now {
    background: var(--third_color) !important;
    font-weight: 800 !important;
    color: black !important;
    border-radius: 0px !important;
  }

  .react-calendar__tile--active {
    background: var(--body_backgroundColor) !important;
    border-radius: 0;
    font-weight: bold;
    color: white !important;
  }

  & .react-calendar__tile--active:enabled:hover,
  & .react-calendar__tile--active:enabled:focus {
    background: var(--body_backgroundColor) !important;
    color: white !important;
  }

  & .react-calendar {
    & .booked-date {
      background-color: var(--primary_color);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: white !important;
        background-color: var(--body_backgroundColor) !important;
      }
    }

    & .react-calendar__tile--disabled,
    .react-calendar__tile:not(.booked-date) {
      cursor: default;

      &:hover {
        font-weight: normal !important;
      }
    }
  }

  .start-date {
    border-radius: 50px 0px 0px 50px;
  }

  .end-date {
    border-radius: 0px 50px 50px 0px;
  }

  .react-calendar__tile--now {
    font-weight: 800 !important;
    color: black !important;
  }
}
